<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.dao.UserDao">
    <resultMap id="userMap" type="com.qfedu.pojo.User">
        <id property="userId" column="id"/>
        <result property="tel" column="tel"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <result property="invitation" column="invitation"/>
    </resultMap>

    <resultMap id="ordersMap" type="com.qfedu.pojo.Order">
        <id property="orderId" column="id"/>
        <result property="userId" column="uid"/>
        <result property="cId" column="cid"/>
        <result property="getId" column="getid"/>
        <result property="backId" column="backid"/>
        <result property="oPrice" column="oprice"/>
        <result property="status" column="status"/>
        <result property="reserveDate" column="reserve_date"/>
        <result property="returnDate" column="return_date"/>
        <result property="disposeDate" column="dispose_date"/>
    </resultMap>

    <resultMap id="orderText" type="com.qfedu.pojo.OrderText">
        <id property="orderId" column="id"/>
        <result property="reserveDate" column="reserve_date"/>
        <result property="returnDate" column="return_date"/>
        <result property="disposeDate" column="dispose_date"/>
    </resultMap>

    <resultMap id="carMap" type="com.qfedu.pojo.Car">
        <id property="id" column="id"/>
        <result property="carName" column="name"/>
        <result property="carType" column="type"/>
        <result property="carSitnum" column="sitnum"/>
        <result property="cityId" column="cid"/>
        <result property="carPrice" column="price"/>
        <result property="carNumber" column="number"/>
        <result property="carPicture" column="picture"/>
    </resultMap>

    <resultMap id="cityMap" type="com.qfedu.pojo.City">
        <id property="cityId" column="id"/>
        <result property="cityName" column="name"/>
        <result property="pid" column="pid"/>
    </resultMap>

    <!-- 用户注册 -->
    <insert id="insert">
        insert into car_sys.sys_user(tel, password, email, invitation, status)
        values (#{tel}, #{password}, #{email}, #{invitation}, 1)
    </insert>

    <!-- 通过汽车Id获取汽车信息 -->
    <select id="getCar" resultMap="carMap">
        select *
        from car_sys.sys_car
        where car_sys.sys_car.id = #{id}
    </select>

    <!-- 用户修改个人信息 -->
    <update id="updateUser">
        update car_sys.sys_user
        <set>
            <if test="null != tel">
                car_sys.sys_user.tel = #{tel},
            </if>
            <if test="null != password">
                car_sys.sys_user.password = #{password},
            </if>
            <if test="null != email">
                car_sys.sys_user.email = #{email}
            </if>
        </set>
        where car_sys.sys_user.id = #{userId}
    </update>

    <!-- 通过邮箱和手机号验证用户信息找回密码 -->
    <select id="getUserByEmailAndTel" resultMap="userMap">
        select *
        from sys_user
        where car_sys.sys_user.email = #{email} and car_sys.sys_user.tel = #{tel};
    </select>

    <!-- 通过用户Id获取用户信息 -->
    <select id="getUserById" resultMap="userMap">
        select *
        from car_sys.sys_user
        where car_sys.sys_user.id = #{userId};
    </select>

    <!-- 通过城市Id获取城市信息 -->
    <select id="getCity" resultMap="cityMap">
        select *
        from car_sys.sys_city
        where car_sys.sys_city.id = #{cityId};
    </select>

    <!-- 通过用户Id获取用户的所有订单 -->
    <select id="getOrder" resultMap="ordersMap">
        select *
        from car_sys.sys_order
        where uid = #{userId}
    </select>

    <!-- 通过订单Id获取订单信息 -->
    <select id="orderMsg" resultMap="ordersMap">
        select *
        from sys_order
        where id = #{id};
    </select>

    <!-- 用户登录 -->
    <select id="login" resultMap="userMap">
        select *
        from car_sys.sys_user
        where tel = #{tel}
    </select>

    <!--<select id="list" resultMap="ordersMap">
        select
            car_sys.sys_order.id,
            car_sys.sys_order.oprice,
            car_sys.sys_car.name,
            car_sys.sys_city.name,
            car_sys.sys_city.name,
            car_sys.sys_order.status
        from car_sys.sys_order
                 left join car_sys.sys_car on car_sys.sys_order.cid = car_sys.sys_car.id
                 left join car_sys.sys_city on car_sys.sys_order.getid = car_sys.sys_city.id and
                                               car_sys.sys_order.backid = car_sys.sys_city.id
        where car_sys.sys_order.uid = #{userId}
        order by car_sys.sys_order.id desc limit #{startIndex},#{pageSize};
    </select>-->

    <!-- 分页查询用户的订单 -->
    <select id="list" resultMap="ordersMap">
        select *
        from car_sys.sys_order
        where car_sys.sys_order.uid = #{userId}
        order by car_sys.sys_order.id desc
        limit #{startIndex},#{pageSize}
    </select>

    <!-- 计算用户的订单总数 -->
    <select id="listCount" resultType="int">
        select count(car_sys.sys_order.id)
        from car_sys.sys_order
        where car_sys.sys_order.uid = #{userId}
    </select>

    <!-- 通过城市ID获取该城市所有的车点 -->
    <select id="getStop" resultMap="cityMap">
        select *
        from car_sys.sys_city
        where car_sys.sys_city.pid = #{cityId}
    </select>

    <!-- 通过取车点的Id，获取到取车点的所有汽车信息，并且根据租金价格进行升序排序 -->
    <select id="getCarByCityIdOrderByPrice" resultMap="carMap">
        select *
        from car_sys.sys_car
        where car_sys.sys_car.cid = #{cityId}
        order by car_sys.sys_car.price
    </select>

    <!-- 通过取车点的Id，获取到取车点的所有汽车信息，并且根据汽车数量进行升序排序 -->
    <select id="getCarByCityIdOrderByNumber" resultMap="carMap">
        select *
        from car_sys.sys_car
        where car_sys.sys_car.cid = #{cityId}
        order by car_sys.sys_car.number
    </select>

    <!-- 用户下订单   -->
    <insert id="insertOrder">
        insert into sys_order(cid, uid, getid, backid, oprice, status, reserve_date)
        values (#{cId}, #{userId}, #{getId}, #{backId}, #{oPrice}, #{status}, (select now()));
    </insert>

    <!-- 用户删除已还车的订单   -->
    <delete id="deleteByOrderId">
        delete from car_sys.sys_order where car_sys.sys_order.id = #{orderId}
    </delete>


    <!-- 用户还车   -->
    <update id="updateOrderStatus">
        UPDATE car_sys.sys_order
        SET car_sys.sys_order.STATUS = #{status},
        car_sys.sys_order.return_date = ( SELECT now( ) )
        WHERE
        	car_sys.sys_order.id = #{orderId};
    </update>
    
    
</mapper>